@charset "UTF-8";

.nav{
	height: 230px;
	background-image: url("./image/indexMainBackground.jpeg");
	background-position: center;
}

.nav .search{
	margin: auto;
	height: 230px;
	width: 400px;
}
	
.nav .search img{
	margin-top: 60px;
	margin-left: 10px;
}
	
.nav .search input[type="text"]{
	padding: 10px;
	font-size: 15px;
	width: 300px;
	background-color: white;
	border-radius: 5px;
	cursor: pointer;
}
	
.nav .search #btn-search{
	margin-top: 10px;
	margin-left: -10px;
	width: 60px;
	height: 38px;
	font-size: 15px;
	font-weight: bold;
	color: white;	
	background-color: #FFC400;
	border-radius: 0px 5px 5px 0px;
	cursor: pointer;
}

.section{
	background-color: #FAFAFA;
}
	
@media all and (max-width:900px){
	.section .main{		
		width: 70%;
	}
}

.section .main{
	margin: auto;
	text-align: center;
	max-width: 900px;
}
	
.section .main a {
	cursor: pointer;
}
	
.section .main .thumbnail {
	text-align: center;
	display: inline-block;
	position:relative;
	padding: 10px;
	margin: 10px 0px;
	width: 262px;
	height: 252px;
	} 
	
.section img{
	margin: auto;
	width: 260px;
	height: 250px;
	border: 1px solid #EAEAEA;
}
	
.category-title {
    position: absolute;
    display: inline-block;
    padding-top: 20px;
    padding-left: 25px;
    color: #1C2833;
    font-size: 110%;
    font-weight: bold;    
} 